/* CSS Reset */
*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
/* CSS Variables */
:root{
    --nav-height:59px;
}
/* Navbar */
#navbar{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    position: sticky;
    top: 0px;
    font-family: 'Baloo Bhai 2', cursive;
}
#navbar::before{
   content: "";
   background-color: black;
   position: absolute;
   top: 0px;
   left: 0px;
   height: 100%;
   width: 100%;
   z-index: -1;
   opacity: 0.4;
}
/*Navbar: Logo and Image */
#logo{
    margin: 10px 36px;
}
#logo img {
    height: 62px;
    margin: 6px 10px;
}
/* Navbar: List Styling */
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
   display: block;
   padding: 12px 34px;
   text-decoration: none;
   border-radius: 20px;

}
#navbar ul li a:hover{
    color: black;
   background-color: white;

}
/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px 200px;
    height: 600px;
    
}
#home::before{
    content: "";
    background:url('../bg.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    color: white;
    text-align: center;
    font-family: 'Baloo Bhaina 2', cursive;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Baloo Bhaina 2', cursive;
}
/* Services Section */

#services{
    margin: 34px;
    display: flex;
}
#services .box{
    margin:6px 24px;
    margin-bottom: 25px;
    padding: 3px 20px;
    border: 3px solid brown;
    border-radius: 23px;
    height: 582px;
    background-color: rgb(233, 225, 225);
}
#services .box img{
    margin: 34px auto;
    display: block;
    height: 150px;
}

#services .box h2{
    font-family: 'Baloo Bhaina 2', cursive;
}
#services .box p{
    font-family: 'Baloo Bhaina 2', cursive;
}
/* Clients Section | About */
#client-section{
    /* height: 400px; */
    position: relative;
}
#client-section::before{
    content: "";
    background: url('../bg1.jpg') no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;

}
#clients{
display: flex;
justify-content: center;
align-items: center;
}
#clients img{
height: 140px;
}
.client-items{
    padding: 34px;
}
/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    background: url('../contact.jpg') no-repeat center center/cover;
    position: absolute;
    width: 100%;    
    height: 100%;    
    z-index: -1;
    opacity: 0.7;


}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,#contact-box textarea{
   width: 100%;
   padding: 0.5rem;
   border-radius: 9px;
   font-size: 1.1rem;
}

#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.3rem;
    font-family: 'Baloo Bhaina 2', cursive;
}
footer{
    background-color: black;
    color: white;
    padding: 6px 25px;

}

/* Utility Classes */
.h-primary{
    font-family: 'Baloo Bhai 2', cursive;
    padding: 12px;
    font-size: 3.8rem;
}
.h-secondary{
    font-family: 'Baloo Bhai 2', cursive;
    padding: 12px;
    font-size: 2.3rem;
}
.btn{
    padding: 3px 20px;
    margin: 17px;
    border: 3px solid white;
    border-radius: 10px;
    background-color: brown;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.center{
    text-align: center;
}